<%= form_for([@bead, @bead.orders.new]) do |f| %>
<div class="panel panel-default">
  <div class="col-md-12 price_tag">
    <span>$<%= @bead.price %></span>
    <span class="pull-right">Per Strand</span>
  </div>
  
  <%= form_for([@bead, @bead.orders.new]) do |f| %>
    <div class="row">
      <div class="container">
       <div class="col-md-12 select">
          <div class="form-group">
          <label><b>Waist Size</b></label>
            <%= f.select :waist_size, [["20", 20], ["21", 21], ["22", 22], ["23", 23], ["24", 24],
             ["25", 25], ["26", 26], ["27", 27], ["28", 28], ["29", 29], ["30", 30], ["31", 31], ["32", 32], ["33", 33], ["34", 34], ["35", 35], ["36", 36],
              ["37", 37], ["38", 38], ["39", 39], ["40", 40], ["41", 41], ["42", 42]], prompt: "Select...", class: "form-control" %>
          </div>
        </div>
        <hr></hr>
      </div>  
    </div>

  <%= f.hidden_field :bead_id, value: @bead.id %>
  <%= f.hidden_field :price, value: @bead.price %>
  <%= f.hidden_field :total, id: 'order_total' %>

  <h4><span id="message"></span></h4>

  <div id="preview" style="display: none">

    <table class="order-table">
      <tbody>
        <tr>
          <td>Qty:</td>
          <td><span id="order_days"></span></td>
        </tr>
        <tr>
          <td>Total:</td>
          <td>$<span id="order_sum"></span></td>
        </tr>
      </tbody>
    </table>
    <br>
  </div>
  
  <!--<div class="col-md-12">-->
  <!--  < if current_user && current_user != @user %>-->
  <!--    <= link_to "Send Us a Message", conversations_path(sender_id: current_user.id, recipient_id: @bead.user.id), method: :post, class: "btn btn-default" %>-->
  <!--  < end %>-->
  <!--</div>-->
  &nbsp;
    
  <div class="text-center">
    <%= f.submit "Buy Now", id: "btn_book", class: "btn btn-primary", disabled: 'true' %>
  </div>
  <% end %>
  &nbsp;

<script>
  function unavailable(date) {
    dmy = date.getDate() + "-" + (date.getMonth() + 1) + "-" + date.getFullYear();
    return [$.inArray(dmy, unavailableDates) == -1];
  }
  $(function() {
    unavailableDates = [];
    $.ajax({
      url: '/preload',
      data: {'bead_id': <%= @bead.id %>},
      dataType: 'json',
      success: function(data) {
        $.each(data, function(arrID, arrValue) {
          var startDate = new Date(arrValue.start_date);
          var endDate = new Date(arrValue.end_date);
          for(var d = startDate; d <= endDate; d.setDate(d.getDate() + 1)) {
              unavailableDates.push($.datepicker.formatDate('d-m-yy', d));
          }
        });
        // $('#order_start_date').datepicker({
        //   dateFormat: 'mm-dd-yy',
        //   minDate: 0,
        //   maxDate: '3m',
        //   beforeShowDay: unavailable,
        //   onSelect: function(selected) {
        //     $('#order_end_date').datepicker("option", "minDate", selected);
        //     $('#order_end_date').attr('disabled', false);
        //     var start_date = $(this).datepicker('getDate');
        //     var end_date = $('#order_end_date').datepicker('getDate');
        //     var days = (end_date - start_date)/1000/60/60/24 + 1
        //     var input = {
        //       'start_date': start_date,
        //       'end_date': end_date,
        //       'bead_id': <%= @bead.id %>
        //     }
            $.ajax({
              url: "/preview",
              data: input,
              success: function(data) {
                if (data.conflict) {
                  $('#message').text("This date range is not available.");
                  $('#preview').hide();
                  $('#btn_book').attr('disabled', true);
                } else {
                  $('#preview').show();
                  $('#btn_book').attr('disabled', false);
                  var total = days * <%= @bead.price %>
                  $('#order_days').text(days);
                  $('#order_sum').text(total);
                  $('#order_total').val(total);
                }
              }
            });
        //   }
        // });
        // $('#order_end_date').datepicker({
        //   dateFormat: 'mm-dd-yy',
        //   minDate: 0,
        //   maxDate: '3m',
        //   beforeShowDay: unavailable,
        //   onSelect: function(selected) {
        //     $('#order_start_date').datepicker("option", "maxDate", selected);
        //     var start_date = $('#order_start_date').datepicker('getDate');
        //     var end_date = $(this).datepicker('getDate');
        //     var days = (end_date - start_date)/1000/60/60/24 + 1
        //     var input = {
        //       'start_date': start_date,
        //       'end_date': end_date,
        //       'bead_id': <%= @bead.id %>
        //     }
            $.ajax({
              url: "/preview",
              data: input,
              success: function(data) {
                if (data.conflict) {
                  $('#message').text("This date range is not available.");
                  $('#preview').hide();
                  $('#btn_book').attr('disabled', true);
                } else {
                  $('#preview').show();
                  $('#btn_book').attr('disabled', false);
                  var total = days * <%= @bead.price %>
                  $('#order_days').text(days);
                  $('#order_sum').text(total);
                  $('#order_total').val(total);
                }
              }
            });
          }
        });
      }
    });
  });
</script>
</div>
<% end %>