<div id="container">
  <div class="row">
    <h1><h1>
  </div>
</div>

<div id="wrapper">

  <div id="sidebar">
    <div id="widget" class="sticky">
     Advertise Here
    </div>
  </div>

  <div id="article">
    <div class="row">

      <div class="col-md-12">

        <%= search_form_for @search, url: search_path do |f| %>
          <div class="row">
            <div class="col-md-3">
              <%= f.text_field :price_gteq, placeholder: "Min Price", class: "form-control" %>
            </div>
            <div class="col-md-3">
              <%= f.text_field :price_gteq, placeholder: "Max Price", class: "form-control" %>
            </div>

            <%= f.submit "Search", class: "btn btn-primary" %>
          </div>
        <% end %>
  
        <hr>

        <div class="row">
          <% @arrBeads.each do |bead| %>

            <div class="col-md-6">
              <div class="panel panel-default">
                <div class="panel-heading preview">
                  <%= image_tag bead.photos[0].image.url(:medium) if bead.photos.length > 0 %>
                </div>
                <div class="panel-body">
                  <%= link_to bead.listing_name, bead %>
                </div>
              </div>
            </div>

          <% end %>
        </div>

      </div>
    </div>
  </div>

</div>

<script>
  $(function(){ // document ready
  if (!!$('.sticky').offset()) { // make sure ".sticky" element exists
    var stickyTop = $('.sticky').offset().top; // returns number
    $(window).scroll(function(){ // scroll event
      var windowTop = $(window).scrollTop(); // returns number
      if (stickyTop < windowTop){
        $('.sticky').css({ position: 'fixed', top: 0 });
      }
    });
  }
});
</script>