<!DOCTYPE html>
<html>
	<head>
	 	<title>Beadie Bead Waisted | Waist Beads for the Modern Women</title>
	 	 <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= csrf_meta_tags %>
    	
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Lawrence Murry">
    <meta name="keywords" content="Waist Beads, Modern Women, Health and Beauty">
    <meta name="description" content="Waist Beads for losing weight or just to level-up your sexiness" />
    <meta name="author" content="Lawrence Murry" />
    <meta name="google-site-verification" content="NOrxm5PCCYJCCnIJ-EYt95omDYb6cw7byh19aZQix3g" />
      
    <meta property="og:site_name" content="Beadie Bead Waisted" />
    <meta property="og:url" content="https://beadiebeadwaisted.herokuapp.com" />
    <meta property="og:title" content="Waist Beads for losing weight or just to level-up your sexiness!" />
    <meta property="og:description" content="Waist Beads for losing weight or just to level-up your sexiness" />
    <meta property="og:type" content="website"/>
    <meta property="og:locale" content="en_US" />
    <!--<meta property="og:image" content="http://www.lovethispic.com/uploaded_images/141816-Dorm-Room-Idea.jpg" />-->
    <meta name="twitter:card" content="summary" />
      
    <meta name="twitter:url" content="https://beadiebeadwaisted.herokuapp.com">
    <meta name="twitter:title" content="Waist Beads for losing weight or just to level-up your sexiness" />
    <!--<meta name="twitter:image" content="http://www.lovethispic.com/uploaded_images/141816-Dorm-Room-Idea.jpg" />-->
    <meta property="og:title" content="Beadie Bead Waisted | Waist Beads for the Modern Women"/>
    <meta name="twitter:site" content="@BeadieBeadWaisted" />
      
    <!--<meta property="og:image" content="http://www.lovethispic.com/uploaded_images/141816-Dorm-Room-Idea.jpg"/>-->
    <meta property="og:description" content="Waist Beads for losing weight or just to level-up your sexiness"/>
    <meta property="og:url" content="https://beadiebeadwaisted.herokuapp.com" />
    <meta name="p:domain_verify" content="df64a1f43b29d4acb9684604c198f71c"/>
  </head>
    
  <body>
      
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-3JR3059VT0"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-3JR3059VT0');
    </script>

    <%= render "shared/navbar" %>
    <%= render "shared/message" %>
    <div class="container">
    	<%= yield %>
    </div> <!-- /container -->

    <%= render "shared/footer" %>
  </body>
</html>